img{
	width: 70%;
	height: auto;
	border-radius: 18px;
}
.pizza-div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.pizza-desc{
	font-size: 2em;
	font-weight: 550;
}
.pizza-cont{
	cursor: pointer;
}
.rest-text{
	cursor: pointer;
}
.rest-cont{
	background-color: #eee;
	border-radius: 10px;
}
@media screen and (min-width:768px) and (max-width:991px) {
	body {
			margin-bottom:100px;
	}
}
@media screen and (min-width:992px) and (max-width:1199px) {
	body {
			margin-bottom:50px;
	}
}
.pizza-btns{
	display: flex;
	justify-content: space-around;
}
.nav-btns{
	text-decoration: none;
	font-weight: 500;
}
.logo{
	height: 60px;
	width: 70px;
}
.cards{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.navigation{
	height: 80px;
}